:root {
    --results-columns: 1;
}

.ListOfGifs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 100vh;
    gap: 16px;
    width: 100%;
    align-items: center;
    grid-template-rows: masonry;
}

.ListOfGifs-item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #eee;
    display: inline-block;
    width: 100%;
}

@media (min-width: 600px) {
    :root {
        --results-columns: 2;
    }
}

@media (min-width: 800px) {
    :root {
        --results-columns: 4;
    }
}